body {
    background-color: whitesmoke;
    height: 100vh;
    font-size: 24px;
    color: brown;
    text-align: center;
  }
  .navegacion {
    text-align: left;
  }

  .box1 {
    background-color: rgb(128, 175, 213);
    border: solid 0.5px rgba(0, 0, 0, 0.739);
    border-radius: 30px;
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
  }

  .box1 h1 {
    text-align: center;
    color: rgb(227, 224, 230);
  }
  .box1 a {
    text-decoration: none;
    margin: 350px;
    color: rgb(229, 224, 233);
  }
  .box2 {
    background-color: pink;
    border: solid 1px black;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  div a {
    color: beige;
    text-decoration: none;
    font-style: italic;
  }
  
  .box2 h3 {
    color: aliceblue;
    text-align: center;
  }
  .box3 {
    background-color:pink;
    border: solid 0.5px black;
    border-radius: 10px;
    width: 200px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .box3 h3 {
    color: aliceblue;
    text-align: center;
  }
  h3~p {
    font-style: italic;
    color: rgb(49, 46, 46);
  }
  .box4 {
    background-color:pink;
    border: solid 0.5px black;
    border-radius: 10px;
    width: 200px;
    font-size: 15px;
  }
  .box4 h3 {
    color: aliceblue;
    text-align: center;
  }
  .box2, .box3, .box4 {
    display: inline-block;
    margin: auto;
    width: 300 px;
    vertical-align: top;
  }
  